/* styles*/


*{
    margin:0px ;
    padding:0px;
}
/* body{
    font-family: 'Open Sans', sans-serif;
} */

.heading-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: 0 100px; */
    padding-top: 40px;
}
div h1{
    color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 45px;
    font-style: normal;
    line-height: normal;
}
span{
    color: #FD6E0A;
}
div ul{
    list-style: none;
}
div li a{
text-decoration: none;
color: black;
}
/* nav-menu */

nav ul{
    display: flex;
    align-items: center;
    
}

/* nav ul li{
    margin-right: 15px;
} */
nav div li{
    margin-right: 50px;
}

.btn-primary{ 
    background: #FD6E0A;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-family:'Open Sans', sans-serif;
    font-weight: 700;
    padding: 15px 35px;
   
}
/* heading styles */

.head-sec{
    background-color: #FFF8F3;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;

    /* background positon is the important to set background imges */
    background-position:bottom right ;
    /* height: 100vh; */
}

.banner-container{
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-img img{
 width: 500px;
}

/* banner text */
.banner-wlc{
    font-size: 45px;
    color: rgb(75, 75, 75);
    margin-bottom: 0;
}

.banner-title{
    font-size: 60px;
    font-weight: 700;
    margin-top: 8px ;
    margin-bottom: 20px;
}
.banner-text{
    width: 500px;
}

.banner-description{
    margin-top: 5px;
    margin-bottom: 15px;
}

/*main section styles */

main{
    max-width:1140px ;
    margin: 0 auto;
}
main section{
    margin-top: 130px ;
}

/* about section styles */

.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;

}

.about-info{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    text-align: center;
    
}
.info p{
    color: #757575;
}
/* section-title */
.section-title{
    color: #181818;
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 35px;

}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
}

/* what i do */

#what-i-do{
    font-size: 15px;
    padding:30px 150px ;
}

/* Skills description */
.skills-item{
    display: flex;
    justify-content: space-around; 
    margin-bottom: 40px;
}
.item{
    width: 150px;
    height: 220px;
    box-shadow: 5px 5px 15px gray;
    padding: 15px;
}

/* A summary of resume */

.resume-summary{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.section-titl{
    color: #757575;
    font-size: 30px;
    margin-bottom: 40px;
}
.my-education{
    margin: 40px;
}
.my-experience{
    margin: 40px;
}
hr{
    margin: 15px 0px;
}

.download-cv{
    text-align: center;
    margin-top: 50px;
}

.list-of-edu{
    margin:10px 0;
    width: 350px;
}
#institute-color{
    color: gray;
}
/* footer */

footer{
    
    /* height: 580px; */
    background-color:#FFF8F3 ;
    padding: 200px;
    margin-top: 50px;
    
}

.footer-item{
    display: flex;
    justify-content: space-around;
    gap: 10px;
   
    
}
.link-item{
    display: flex;
    gap:10px;
    margin-top: 20px;
}

.connect-item{
    width: 50%;
}
.form-item input,textarea{
    /* width: 50%; */
display: block;
margin-bottom: 15px;
margin-top: 10px;
padding: 18px 35px;
color: #757575;
border: none;
border-radius: 5px;
width:100% ;


    
}



